form {
  display: flex;
  flex-direction: column;
  min-width: 400px;
  padding: 16px 0;
}

.full-width {
  width: 100%;
  margin-bottom: 16px;
}

@media (max-width: 768px) {
  form {
    min-width: 300px;
  }
}